:root {
  --firts-green: #118437;
  --soft-blue: #b7eefb;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #20342f;
  --blackGreen: #1c231c;
  --off-white: #faf8f7;
  --just-white: #fff;
  --grey: #bababa;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(208.83deg,
      var(--blackGreen) 16.69%,
      var(--firts-green) 100%);
}

header img {
  width: 200px;
  max-width: 900px;
  margin-top: 40px;
  align-self: center;
}

.header--title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 30vh;
  margin-top: 1.5vh;
  text-align: center;
  align-self: center;
}

.header--title-container h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

.header--title-container .header--button {
  position: absolute;
  left: calc(50% - 118px);
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background: var(--off-white);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--blackGreen);
}

.header--title-container .header--button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url("../assets/icons/down-arrow.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}

.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}

.main-exchange-container--title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}

.main-exchange-container .backgroundImg {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-image: url("../assets/img/backgroundVegan.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-exchange-container h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--blackGreen);
}

.main-exchange-container p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;
}

.images-container {
  background-color: rgb(5, 44, 34);
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 75px 75px 75px 75px;
  gap: 2px;
  place-content: center;
  grid-template-areas:
    "header header header"
    "side main main"
    "side main main"
    "section section logo";
}

.images-container .item-1 {
  background-image: url('https://images.pexels.com/photos/1351238/pexels-photo-1351238.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: header;
}

.images-container .item-2 {
  background-image: url('https://images.pexels.com/photos/5400091/pexels-photo-5400091.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: side;
}

.images-container .item-3 {
  background-image: url('https://freefromharm.org/wp-content/uploads/2014/02/Free-from-Harm-new-Why-Vegan-featured-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: main;
}

.images-container .item-4 {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQF7WdC1TiBDSxjXZB5cDzZUShluxy850jXmA&usqp=CAU');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: section;
}

.images-container .item-5 {
  background-image: url('https://images.pexels.com/photos/3669638/pexels-photo-3669638.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: logo;
}

.message {
  width: 190px;
  height: 31px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 8px;
  background-color: var(--soft-blue);
  border-radius: 8px;
}

.main-product-detail {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: var(--blackGreen);
}

.product-detail--lief-logo {
  position: absolute;
  width: 70px;
  height: 40px;
  left: calc(50% - 70px / 2);
  top: -22px;
  background-image: url("../assets/icons/lief.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product-detail--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 25px;
  text-align: center;
}

.product-detail--title h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

.product-detail--card {
  width: 90%;
  min-width: 280px;
  max-width: 500px;
  height: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--warm-black);
  box-shadow: 0px 4px 8px rgba(12, 43, 27, 0.16);
  border-radius: 4px;
  align-items: center;
}

.product--card_title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--just-white);
}

.product--card_body {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

.vegan-img-container {
  width: 100%;
  min-width: 320px;
  height: 50vh;
  background-image: url("https://lapeste.org/wp-content/uploads/2017/01/13612336_1161110600576472_404657703286992905_n1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
}

.vegan-img-container::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.85;
  left: 0%;
  background-color: #3a7c9d;
}

.vegan-img-container h2 {
  width: 250px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
  position: absolute;
  left: calc(50% - 250px / 2);
  bottom: 20px;
  margin: auto;
}

.main-lawRose-container {
  width: 100%;
  min-height: 320px;
  padding-bottom: 30px;
  text-align: center;
}

.main-lawRose-container h2 {
  padding-top: 30px;
  font-size: 3rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--blackGreen);
}

.main-lawRose-container p {
  padding: 20px 10px;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;

}

.lawRose-container--slider {
  display: flex;
  height: 316px;
  overflow-x: scroll;
  /* overscroll-behavior-x: contain;
  scroll-snap-type: x proximity; */
 align-items: center;
}

.lawRose-container--card {
  position: relative;
  scroll-snap-align: center;
  width: 70%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0px 30px 0;
  padding: 35px 15px;
  background-color: var(--just-white);
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.lawRose--card-button{
  width: 200px;
  height: 38px;
  background-color: var(--soft-blue);
  padding: 1vh;
  border-radius: 1vh;
  border: none;
  box-shadow:0px 4px 8px rgba(7, 39, 45, 0.567);
  position: absolute;
  left: calc(50% - 200px / 2);
  bottom: calc(20% - 38px / 2); ;
  font-weight: bolder;
}

.lawRose-container--card .recommended {
  display: flex;
  position: absolute;
  min-width: 120px;
  max-width: 700px;
  height: 40px;
  left: calc(50% - 60px);
  top: -15px;
  padding: 1.8vh;
  background-color: var(--firts-green);
  border-radius: 8px;
  color: var(--just-white);
}

footer {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: var(--firts-green);
}

footer section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

footer section img {
  width: 160px;
}

.left ul {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style: none;
}

.left li {
  margin: 10px 0;
}

.left a {
  text-decoration: none;
  color: var(--just-white);
}